<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jf.modelb">

    <application>
        <activity
            android:name=".BHomeActivity"
            android:label="@string/title_activity_b_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>